<form >
  <label>
    Nome completo:
    <input type="text" name="username" />
  </label>
  <br>
  <label>
    Data de nascimento:
    <input type="date" name="dateOfBirth" />
  </label>
  <br>
  <label>
    CPF:
    <input type="text" name="cpf" />
  </label>
  <br>
  <label>
    Telefone:
    <input type="text" name="phone" />
  </label>
  <br>
  <label>
    CEP:
    <input type="text" name="cep" />
  </label>
  <br>
  <label>
    Data de nascimento:
    <input type="date" name="dateOfBirth" />
  </label>
</form>
